.git
.gitignore
.DS_Store
*.swp
*.swo

__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
.venv/
env/
*.egg-info/
dist/
build/


*.tar
*.tar.gz
*.zip
*.log
*.out

*.pt
*.pth
*.ckpt
*.npy
*.npz

output/
battleship-out/
